@model List<User>


@{
    ViewData["Title"] = "Index";
}
@if (Model.Count==0)
{
    <h1>We have no users yet</h1>
}
else
{
    <h1>List of Users</h1>
    <p>
        <ul>
            @foreach (User user in Model)
            {

                <li>@user.Username</li>

            }
        </ul>
        </p>
}



